#main-container {
  background-color: white;
  margin: auto;
  margin-top: 30vh;
  align-self: center;
  width: 90vw;
  max-width: 400px;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  align-items: center;
  padding: 25px 25px 25px 25px;
  border-radius: 10px;
  border-style: solid;
  border-color: #c7ced5;
  border-width: 1px;
}

#login-button {
  background-color: white;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 100px;
  border-radius: 6px;
  align-self: center;
  /* width: 250px; */
  height: 20px;
  text-align: center;
}
